@*<div class="container">
  <div class="card">
  <img src="~/img/room1.jpg" style="width:100%">
  <h1>Meeting Room 1</h1>
  <p class="price">$199.99</p>
  <p>Some text about the jeans..</p>
  <a asp-controller="Event" asp-action="Index" class="btn btn-outline-dark">Reservation</a>
  </div>
  <div class="card">
  <img src="~/img/room1.jpg" style="width:100%">
  <h1>Meeting Room 1</h1>
  <p class="price">$199.99</p>
  <p>Some text about the jeans..</p>
  <a asp-controller="Event" asp-action="Index" class="btn btn-outline-dark">Reservation</a>
  </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
  <img src="~/img/room1.jpg" style="width:100%">
  <h1>Meeting Room 1</h1>
  <p class="price">$199.99</p>
  <p>Accommodates 60 people</p>
  <a asp-controller="Event" asp-action="Create" class="btn btn-outline-dark">Reservation</a>
  </div>
        </div>
        <div class="col">
            <div class="card">
  <img src="~/img/room2.jpg" style="width:100%">
  <h1>Meeting Room 2</h1>
  <p class="price">$99.99</p>
  <p>Accommodates 12 people</p>
  <a asp-controller="Event" asp-action="Create" class="btn btn-outline-dark">Reservation</a>
  </div>
        </div>
        <div class="col">
            <div class="card">
  <img src="~/img/room3.jpg" style="width:100%">
  <h1>Meeting Room 3</h1>
  <p class="price">$59.99</p>
  <p>Accommodates 8 people</p>
  <a asp-controller="Event" asp-action="Create" class="btn btn-outline-dark">Reservation</a>
  </div>
    </div>

</div>
<div>
    <br/>
    <br/>
    <br/>
    <p>Welcome to Décalé Airport Hotel, the go-to-address for grand-scale meetings and events. Décalé Airport Hotel is the right place to organize your meetings with its well-equipped and comfortable meeting rooms. Décalé Airport Hotel is here for you...</p>
</div>